body {
      background-imageurl: ('/main/circles-7345110_1280.jpeg');
    }

    main {
      display: flex;
      flex-direction: row;
      background: white;
      margin: 0;
      padding: 0;
    }

    .left-column,
    .right-column {
      flex: 1; /* This will make both columns take up equal space */
    }

    .left-column {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    .right-column {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    .content {
      background-color: white;
      margin-bottom: 20px;
    }

    h2 {
      font-size: large;
    }

    p {
      font-size: small;
    }
    li {
      list-style-type: none;
    }
